CardsEncryptionDecryption/Connected Services/ServiceReference/SystemServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SystemServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63666/SystemServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63666/SystemServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63666/SystemServices.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILogin_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="ILogin_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="ILogin_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="ILogin_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="ILogin_LogOff_InputMessage">
    <wsdl:part name="parameters" element="tns:LogOff" />
  </wsdl:message>
  <wsdl:message name="ILogin_LogOff_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogOffResponse" />
  </wsdl:message>
  <wsdl:message name="IEncryptDecrypt_Encrypt_InputMessage">
    <wsdl:part name="parameters" element="tns:Encrypt" />
  </wsdl:message>
  <wsdl:message name="IEncryptDecrypt_Encrypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:EncryptResponse" />
  </wsdl:message>
  <wsdl:message name="IEncryptDecrypt_Decrypt_InputMessage">
    <wsdl:part name="parameters" element="tns:Decrypt" />
  </wsdl:message>
  <wsdl:message name="IEncryptDecrypt_Decrypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:DecryptResponse" />
  </wsdl:message>
  <wsdl:message name="IEncryptDecrypt_CreateTextFileWithEncryptedNumbersAndTheirCardNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTextFileWithEncryptedNumbersAndTheirCardNumbers" />
  </wsdl:message>
  <wsdl:message name="IEncryptDecrypt_CreateTextFileWithEncryptedNumbersAndTheirCardNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTextFileWithEncryptedNumbersAndTheirCardNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="IEncryptDecrypt_CreateTextFileWithCardNumbersAndTheirEncryptedNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTextFileWithCardNumbersAndTheirEncryptedNumbers" />
  </wsdl:message>
  <wsdl:message name="IEncryptDecrypt_CreateTextFileWithCardNumbersAndTheirEncryptedNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTextFileWithCardNumbersAndTheirEncryptedNumbersResponse" />
  </wsdl:message>
  <wsdl:portType name="ILogin">
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/LogIn" message="tns:ILogin_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/LogInResponse" message="tns:ILogin_LogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/Register" message="tns:ILogin_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/RegisterResponse" message="tns:ILogin_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogOff">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/LogOff" message="tns:ILogin_LogOff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/LogOffResponse" message="tns:ILogin_LogOff_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IEncryptDecrypt">
    <wsdl:operation name="Encrypt">
      <wsdl:input wsaw:Action="http://tempuri.org/IEncryptDecrypt/Encrypt" message="tns:IEncryptDecrypt_Encrypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEncryptDecrypt/EncryptResponse" message="tns:IEncryptDecrypt_Encrypt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Decrypt">
      <wsdl:input wsaw:Action="http://tempuri.org/IEncryptDecrypt/Decrypt" message="tns:IEncryptDecrypt_Decrypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEncryptDecrypt/DecryptResponse" message="tns:IEncryptDecrypt_Decrypt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTextFileWithEncryptedNumbersAndTheirCardNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/IEncryptDecrypt/CreateTextFileWithEncryptedNumbersAndTheirCardNumbers" message="tns:IEncryptDecrypt_CreateTextFileWithEncryptedNumbersAndTheirCardNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEncryptDecrypt/CreateTextFileWithEncryptedNumbersAndTheirCardNumbersResponse" message="tns:IEncryptDecrypt_CreateTextFileWithEncryptedNumbersAndTheirCardNumbers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTextFileWithCardNumbersAndTheirEncryptedNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/IEncryptDecrypt/CreateTextFileWithCardNumbersAndTheirEncryptedNumbers" message="tns:IEncryptDecrypt_CreateTextFileWithCardNumbersAndTheirEncryptedNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEncryptDecrypt/CreateTextFileWithCardNumbersAndTheirEncryptedNumbersResponse" message="tns:IEncryptDecrypt_CreateTextFileWithCardNumbersAndTheirEncryptedNumbers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILogin" type="tns:ILogin">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://tempuri.org/ILogin/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/ILogin/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOff">
      <soap:operation soapAction="http://tempuri.org/ILogin/LogOff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IEncryptDecrypt" type="tns:IEncryptDecrypt">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Encrypt">
      <soap:operation soapAction="http://tempuri.org/IEncryptDecrypt/Encrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Decrypt">
      <soap:operation soapAction="http://tempuri.org/IEncryptDecrypt/Decrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTextFileWithEncryptedNumbersAndTheirCardNumbers">
      <soap:operation soapAction="http://tempuri.org/IEncryptDecrypt/CreateTextFileWithEncryptedNumbersAndTheirCardNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTextFileWithCardNumbersAndTheirEncryptedNumbers">
      <soap:operation soapAction="http://tempuri.org/IEncryptDecrypt/CreateTextFileWithCardNumbersAndTheirEncryptedNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SystemServices">
    <wsdl:port name="BasicHttpBinding_ILogin" binding="tns:BasicHttpBinding_ILogin">
      <soap:address location="http://localhost:63666/SystemServices.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IEncryptDecrypt" binding="tns:BasicHttpBinding_IEncryptDecrypt">
      <soap:address location="http://localhost:63666/SystemServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>